.cell {
    /*width: 4em;*/
    background-color: #DCDEE3;
    color: #383A3F;
}

.cell input {
    width: 100%;
    height: 100%;
    /*padding: 0.5em 1em;*/
    outline: none;
    border: none;
    background-color: transparent;
    text-align: center;
}

.cell input[type="number"]::-webkit-outer-spin-button,
.cell input[type="number"]::-webkit-inner-spin-button,
.cell input[type='number'],
.cell input[type='number']:hover,
.cell input[type='number']:focus {
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

tbody .cell:hover {
    background-color: #BCC3D6;
    cursor: pointer;
}