table {
    border-collapse: collapse;
    --border-color: grey;
    border: 3px solid var(--border-color);
}

tr > :is(td, th):first-child {
    text-align: start;
    border-right: 3px solid var(--border-color);
    padding: 0.5em 3em 0.5em 1em;
}

td, th {
    text-align: center;
}

tbody :is(td, th):not(:first-child) {
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}

th {
    border-bottom: 3px solid var(--border-color);
}